*,
*::before,
*::after{
    box-sizing: border-box;
}

h1,
h2,
p,
body{
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#ff5656, #900e0ed2);
}

.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container h1{
    margin: 0 auto;
}

.settings{
    position: absolute;
    left: calc(100% - 4rem);
}